%h3 StackProf Navigator - #{@path}
%hr

%a{:href => '/'} &#8592; Back to overview
%br
%br

- if @data
  .code_linenums
    - @data[:lineinfo].each do |l|
      %span= l
  != @data[:code]
- else
  %h3 Unable to load file, was the dump captured on another machine?
