%h3 StackProf Navigator
%hr

%p
  Listing dumps in
  %b= @directory

%table.centered
  %thead
    %th Filename

  %tbody
    - @files.each do |file|
      %tr
        %td
          %a{href: url_for("/overview", dump: file.path)}= file.name
