%html
  %head
    %title Stackprof navigator
    %link(rel="stylesheet" href="/css/normalize.css")
    %link(rel="stylesheet" href="/css/foundation.min.css")
    %link(rel="stylesheet" href="/css/code.css")
    %link(rel="stylesheet" href="/css/application.css")

  %body
    = yield
